In [5]:
from collections import Counter
from wordcloud import WordCloud
from pymongo import MongoClient
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
import re
from konlpy.tag import Okt  # 형태소 분석기

In [6]:
client = MongoClient('mongodb://192.168.0.50')
db_name = client['DB_SGMN']
collection = db_name['COL_SCRAPPING_TOSS_COMMENT_HISTORY']

In [12]:
# 데이터 로드

find_data = collection.find()
toss_data = list(find_data)

In [10]:
df_toss_data = pd.DataFrame(toss_data)
df_toss_data.head(3)

,_id,COMMENT,CREATED_AT,DATE,DATETIME,SYMBOL,UPDATED_AT
0,675082d6239b5012b3c84a0b,머선일이야,2024-11-21 23:59:13.068,2024-11-22,2024-11-22T01:36:32+09:00,AADI,2024-11-21 23:58:33
1,675082d6239b5012b3c84a0c,뭐냐 너..왜 희망 갖게하냐,2024-11-21 23:59:13.068,2024-11-22,2024-11-22T01:07:42+09:00,AADI,2024-11-21 23:58:34
2,675082d6239b5012b3c84a0d,몇개월 기다리다가 조금 올라서 뺏더니 잘 올라가네.. ㅠ,2024-11-21 23:59:13.068,2024-11-22,2024-11-22T01:00:04+09:00,AADI,2024-11-21 23:58:34

In [13]:
df_toss_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251836 entries, 0 to 251835
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   _id         251836 non-null  object
 1   COMMENT     251836 non-null  object
 2   CREATED_AT  251836 non-null  datetime64[ns]
 3   DATE        251836 non-null  object
 4   DATETIME    251836 non-null  object
 5   SYMBOL      251836 non-null  object
 6   UPDATED_AT  251836 non-null  object
dtypes: datetime64[ns](1), object(6)
memory usage: 13.4+ MB